.navigation {background-color: bisque;
            height: 130px;
            }

.navitem {  display: inline-block;
            height: 30px;
            width: 90px;
            padding: 50px;
            text-align: center;
            vertical-align: middle;
            background-color: brown;
            color: blanchedalmond;
            }

.left { background-color: salmon;
        float: left;
        height: 800px;
        width:30.65%;
        text-align: center;
        display: inline-block;}

.right {background-color: aquamarine;
        float: left;
        height: 800px;
        width:69.35%;}